.icon{
    color: #08C25E;
    font-size: 20px;
}
.retButton{
    display: none!important;
    margin-right: 10px;
}
.returnArrow{
    background-color: #08C25E;
    color: #FFFFFF;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
.submitcont{
    width: 100%;
    display: flex;
    justify-content: center;
}

.loader{
    border: 2px solid #08C25E;
    background-color: white;
    color: #08C25E;
    width: 100%;
    height: 7vh;
    border: 1px solid #08C25E;
    border-radius: 8px;
    padding-top: 10px;
  }
  
  .loader:hover{
    color: #08C25E;
  }

@media screen and (max-width : 375px){
    .main{
        flex-direction: column;
    }
    .CircleLoader{
        margin-left: -20px !important;
        margin-right: 15px !important;
        margin-top: 20px;
        size: 5px!important;
       }
    .retButton{
        display: flex!important;
        margin-right: 10px;
    }
    .title{
        width: 50%;
        margin: 0 auto;
    }
    .titleContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
} 

@media screen and  (max-width : 744px){
    .main{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 40px;
        margin-top: 30px;
    }
    .left{
       margin-left: 30%;
    }
    .retButton{
        display: flex!important;
        margin-right: 10px;
    }


    .CircleLoader{
        margin-left: -20px !important;
        margin-right: 15px !important;
        margin-top: 20px;
        size: 5px!important;
       }
       .title{
        width: 50%;
        margin: 0 auto;
    }
    .titleContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}