
.icon{
    color: #08C25E;
    font-size: 20px;
}

.stationform{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.retButton{
    display: none!important;
    margin-right: 10px;
}
.returnArrow{
    background-color: #08C25E;
    color: #FFFFFF;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
@media screen and (max-width : 375px){
    .main{
        flex-direction: column;
    }
    .CircleLoader{
        margin-left: -20px !important;
        margin-right: 15px !important;
        margin-top: 20px;
        size: 5px!important;
       }
    .retButton{
        display: flex!important;
        margin-right: 10px;
    }
    .title{
        width: 50%;
        margin: 0 auto;
    }
    .titleContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
} 

@media screen and  (max-width : 744px){
    .main{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 40px;
        margin-top: 30px;
    }
    .left{
       margin-left: 30%;
    }
    .retButton{
        display: flex!important;
        margin-right: 10px;
    }


    .CircleLoader{
        margin-left: -20px !important;
        margin-right: 15px !important;
        margin-top: 20px;
        size: 5px!important;
       }
       .title{
        width: 50%;
        margin: 0 auto;
    }
    .titleContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}